html.modern .theme-settings-container {
    display: flex;
    min-height: 100vh;

    .sidebar {
        width: 300px;
        background-color: #eee;
        border-left: 1px solid #ddd;
        max-height: 100vh;
        overflow: hidden;

        .sidebar-header {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ddd;
        }

        .btn-dismiss {
            display: flex;
            height: 45px;
            width: 45px;
            align-items: center;
            justify-content: center;
            background: transparent;
            border-radius: 0;
            border-width: 0 1px 0 0;
        }
    }

    form {
        max-height: calc(100% - 45px);
        overflow: hidden auto;
    }

    .form-group + .form-group {
        border-top: 0;
        padding-top: 0;
    }

    .tab-content {
        background: transparent;
        border: 0;
        box-shadow: none;
        padding: 0;
    }

    .nav-link {
        background-color: #fff;
        color: $color-dark;
        border-bottom: 1px solid #ddd;
        border-left: 3px solid #fff;

        &:hover {
            border-left-color: $color-primary;
            background-color: #f3f5f5;
        }
    }

    .nav-item.active .nav-link {
        border-left-color: $color-primary;
        background-color: #f3f5f5;
    }

    .tab-header {
        display: flex;
        margin-bottom: 1rem;
        border-bottom: 1px solid #ddd;

        .nav-link {
            position: relative;
            width: 45px;
            border-right: 1px solid #ddd;
            border-bottom: 0;
            font-size: 1.5rem;

            &:before {
                content: '\f104';
                position: absolute;
                top: 50%;
                left: calc( 50% - 3px );
                transform: translate( -50%, -50% );
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
            }
        }
    }

    .current-setting {
        flex-grow: 1;
        padding: .5rem .8rem;
        background: #fff;
        font-size: .7rem;

        h4 {
            margin: 0;
        }
    }

    .settings-panel {
        padding: 1rem;

        > div + div {
            margin-top: 1rem;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    .logo {
        display: block;
        width: auto;
        max-width: 100%;
    }

    .vc-sketch {
        margin-top: 1rem;
        width: auto;
    }
}

#theme-settings-form {
    &::-webkit-scrollbar {
        height: 10px;
        width: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 10px;
        margin: 8px;
        width : 100%;
    }
}

.btn.color-picker-toggle {
    display: block;
    padding: 0 4px 0 30px;
    height: 30px;
    border: 1px solid #ccc;

    span {
        display: block;
        line-height: 22px;
        padding: 0 6px;
        background-color: #f7f7f7;
        border-radius: 0 2px 2px 0;
        border-left: 1px solid #ccc;
    }
}

.preset-preview {
    cursor:  pointer;
    padding: 5px;
    border-radius: 5px;
    transition: all .25s ease;

    &:hover, 
    &:focus, 
    &.active {
        background-color: #fff;
        box-shadow: 0 0 10px 5px rgba(0,0,0,0.15);
    }
}

.preview {
    display: flex;
    border: 0;
    outline: none;
}

.radio-custom.radio-image {
    padding: 0 .5rem;

    input[type=radio] {
        display: none;

        &:checked + label {
            background-color: #fff;
            box-shadow: 0 0 10px 5px rgba(0,0,0,0.15);

            &:after {
                content: none;
            }
        }
    }

    label {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        transition: all .25s ease;

        &:hover, 
        &:focus {
            background-color: #fff;
            box-shadow: 0 0 10px 5px rgba(0,0,0,0.15);
        }

        &:before {
            content: none;
        }
    }
}

@media only screen and (min-width: 992px) {
    html.modern .theme-settings-container .sidebar {
        border-right: 1px solid #ddd;
    }
}