// Footer One

.footer.footer-one {
	// 1. Footer Base
	letter-spacing: .005em;

	.footer-middle {
		padding: 6.5rem 0 3.2rem;
	}

	.footer-bottom {
		padding: 1.5rem 0;
		border-top: 1px solid #313438;
	}

	// 2. Footer Components

	// 2.1) Social Icon
	.social-icons {
		margin-bottom: 23px;
		margin-top: 32px;
	}

	.social-icon {
		height: 4rem;
		width: 4rem;
		font-size: 1.4rem;
		line-height: 3.8rem;
		border: 1px solid transparent;
		border-radius: 50%;

		&:not(:hover):not(:active):not(:focus) {
			background-color: transparent;
			border-color: #313438;
			color: #fff;
		}

		& + .social-icon {
			margin-left: .5rem;
		}
	}

	// 2.2) Contact Info
	.contact-info li {
		position: relative;
		margin-bottom: 1rem;
		line-height: 1.4;
	}

	.contact-info-label {
		display: block;
		color: #fff;
		font-weight: 400;
		text-transform: uppercase;
	}

	// 2.4) Tagcloud
	.tagcloud a {
		padding: .6em;
		border: 1px solid #313438;
		color: inherit;
		font-size: 11px;
		background: transparent;
		border-radius: 0;
		text-transform: lowercase;
		font-weight: 400;

		&:hover {
			border-color: #fff;
			background: transparent;
		}
	}
	
	// 2.3) Newsletter
	.widget-newsletter {
		p {
			margin-bottom: 1.3rem;
			line-height: 1.9;
			margin-top: -3px;
		}

		.form-control {
			height: 4.4rem;
			padding: .8rem 2.5rem;
			border: 0;
			border-radius: 5rem;
			background: #292c30;
			color: #a8a8a8;
			font-size: inherit;

			&::placeholder {
				color: inherit;
			}
		}

		.btn {
			padding: 1.2rem 2.7rem;
			border-radius: 5rem;
			font-size: inherit;
			font-family: var(--font-family);
		}
	}
	

	// 2.4) Copyright
	.footer-copyright {
		padding-top: 1.1rem;
		padding-bottom: 1rem;
		color: #777;
		font-size: 1.2rem;
		letter-spacing: -.0065em;
	}
}