// Home

// 1 Componenets

// 1.2) Product Category
.product-category {
	img,
	figure:after {
		border-radius: 50%;
	}
}

.category-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
	background: #fff;

	h3 {
		font-size: 1.5rem;
		font-family: var(--second-font-family);
	}

	h3,
	span {
		color: #1d2127;
	}
}

// 2. Home Page - Components


// 2.1) Coupon Sale Text
.coupon-sale-text {
	position: relative;
	display: inline-block;
	padding: 5px 8px;
	transform: rotate(-2deg);

	i {
		position: absolute;
		left: -2.25em;
		top: 50%;
		transform: translateY(-50%) rotate(-90deg);
		font-size: .65em;
		font-style: normal;
		opacity: .6;
		letter-spacing: 0;
	}

	b {
		display: inline-block;
		padding: 5px 8px;
		font-size: 1.6em;
		background-color: #fff;
	}

	em {
		font-size: 2em;
		font-style: normal;
	}
}

// 2.2) Buttons
.btn-lg {
	padding: 1.072em 2.8em;
}

.btn-light {
	background: #fff;
	border-color: #fff;
}

.btn-black {
	background: #0e0f11;
	border-color: #0e0f11;
}

// 2.3) Heading Border
.heading-border {
	display: flex;
	display: -ms-flexbox;
	align-items: center;
	-ms-flex-align: center;
	margin: 0 -8px;

	&:before,
	&:after {
		content: '';
		margin: 0 8px;
		flex: 1;
		-ms-flex: 1;
		height: 0;
		border-top: 1px solid rgba(0, 0, 0, .08);
	}

	&.section-title {
		margin: 0 -2rem 1.8rem;
		letter-spacing: -.02em;

		&:before,
		&:after {
			margin: 0 2rem;
		}
	}
}

// 3. Home Page

section {
	padding-top: 4.7rem;
	padding-bottom: 4.8rem;
}

// 3.1) Home Slider
.home-slider {
	background: #dadada;

	img {
		height: 499px;
	}

	h2 {
		font-size: 3.4em;
		letter-spacing: -.0125em;
		font-family: 'Segoe Script','Savoye LET';
	}

	.btn {
		font-size: .875em;
	}

	.banner-layer-middle {
		top: 25%;
	}
}

.home-slide1 {
	h4 {
		font-size: 1.1875em;
		font-weight: 500;
		letter-spacing: .08em;
		opacity: .7;
		margin-bottom: 1.5rem;
	}

	h3 {
		font-size: 5.875em;
	}

	h5 {
		font-size: .75em;
		vertical-align: top;

		span {
			position: relative;
			top: -3px;
			letter-spacing: -.02em;
		}
	}

	.coupon-sale-text {
		font-size: 2.4em;
		letter-spacing: -.01em;
		margin: 1px 4px 0 14px;
	}

	.banner-layer {
		left: calc(8% + 8px);
		right: 30%;
	}

	img {
		object-position: 55%;
	}
}

.home-slide2 {
	h4 {
		color: #999;
		font-size: 2.125em;
		font-weight: 500;
	}

	h2 {
		font-size: 2.5em;
		letter-spacing: .2px;
	}

	h3 {
		font-size: 4.3125em;
	}

	.heading-border {
		font-size: 2.125em;

		&:before,
		&:after {
			border-top: 6px solid;
			border-top-color: inherit;
			margin-top: -2px;
		}
	}

	.banner-layer {
		left: 56%;
		right: calc(5% + 2px);
	}

	.btn {
		font-size: 1em;
		letter-spacing: .15em;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

// 3.3) Info Boxes Slider
.info-boxes-slider {
	.info-box {
		padding: 1.6rem 0 1.5rem;
	}

	.owl-item.active {
		margin-right: -1px;
		margin-left: 1px;
	}

	.active:not(:last-of-type) {
		.info-box {
			border-right: 1px solid #e7e7e7;
		}
	}

	i {
		line-height: 0;
		margin-top: 1px;
	}

	.icon-shipping {
		margin-left: -2px;
		font-size: 3.5rem;
	}
}

// 3.4) Banner Section
.banners-slider {
	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: .9375em;
		font-weight: 600;
	}

	img {
		object-fit: cover;
		max-height: 17.5rem;
	}

	.banner-layer {
		left: 6.73%;
		right: 6.73%;
	}

	sup {
		top: -6px;
	}
}

.banner1 {
	h4 {
		font-size: 1.8125em;
		font-weight: 800;
	}

	del {
		font-weight: 700;
	}

	sup {
		font-size: 70%;
	}
}

.banner2 {
	img {
		border: 1em solid var(--primary-color);
	}

	h3 {
		font-size: 1.375em;
	}

	.banner-layer {
		left: 0;
		right: 0;

		.col-lg-7 {
			margin-top: 4px;

			h3 {
				margin-right: 1px;
				margin-bottom: 3px;
			}

			h4 {
				margin-right: 1px;
			}
		}
	}
}

.banner3 {
	img {
		object-position: left;
	}

	h3, 
	h4 {
		margin-bottom: 1.1rem;
	}
}

// 3.5) Featured Products Section
.featured-products-section {
	padding-bottom: 2.2rem;
	background: #fbfbfb;
}

// 3.6) Big Sale Banner
.banner-big-sale {
	margin-top: 2.2rem;
	margin-bottom: 4.3rem;

	h2 {
		font-size: 1.275em;
		line-height: 1.2;

		small {
			font-size: 64%;
			font-weight: 400;
			opacity: .7;
			margin-left: .8em;
		}
	}

	b {
		position: relative;
		padding: .4em .6em;
		margin-left: 1px;
		margin-right: 10px;
		z-index: 1;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: var(--primary-color-dark);
			transform: rotate(-2deg);
			z-index: -1;
		}
	}

	.banner-content {
		padding-top: 1.6rem;
		padding-bottom: 1.6rem;

		.btn {
			margin-right: 2rem;
		}
	}
}

.brands-section {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.brands-slider {
	padding-top: .6rem;
	padding-bottom: .4rem;

	img {
		max-width: 130px;
		background-color: transparent;
	}
}

.categories-slider {
	margin-top: -.7rem;
	margin-bottom: 2px;
}

// 3.7) Feature Boxes Container
.feature-boxes-container {
	background: #f6f7f9;
	padding-top: 3.8rem;
	padding-bottom: 3.4rem;

	.feature-box {
		padding: 10px;

		h3 {
			margin-bottom: .5rem;
		}

		h5 {
			color: #555;
			font-weight: 500;
			margin-bottom: 1.3rem;
		}

		p {
			font-size: 1.3rem;
		}

		i {
			color: #08c;
			width: 8rem;
			height: 8rem;
			line-height: 72px;
			border: 2px solid #ddd;
			border-radius: 50%;
			font-size: 4rem;
			margin-bottom: 1.6rem;
		}
	}
}

// 3.8) Promo Section
.promo-banner {
	padding: 2.3rem 0 2.2rem;

	.parallax-background {
		background-color: #22252A;
	}

	h2 {
		font-size: 2.25em;
		line-height: 1.15;
		margin-bottom: 0;
		margin-right: -3px;
	}
	
	h4 {
		font-size: .7em;
		line-height: 1.4;
		letter-spacing: -.03em;
	}

	h5 {
		font-size: 1em;
		font-family: var(--font-family);
	}

	.btn {
		padding: 1.1em 2.8em;
	}
}

// 3.9) Blog Section
.blog-section {
	.post-body {
		margin-left: 0;
		padding-bottom: 2.1rem;
		border: 0;
	}

	.post-title {
		margin-bottom: 1.4rem;
		font-size: 1.8rem;
		font-family: var(--font-family);
		font-weight: 700;
	}

	p {
		margin-bottom: 1.1rem;
		font-size: 1.3rem;
		line-height: 1.846;
	}

	.post-comment {
		color: #999;
		font-size: 1rem;
		text-transform: uppercase;
	}

	hr {
		border-top-color: rgba(0,0,0,0.06);
	}
}

// 3.9) Products Widgets Container
.product-widgets-container {
	margin-bottom: 1.7rem;

	figure {
		max-width: 85px;
		width: 100%;
	}

	.product-title {
		font-size: 1.4rem;
	}

	.product-price {
		font-size: 1.5rem;
	}
}

// 4. Other Pages

// 4.1) Category Page Banner

.category-banner {
	padding: 6.8rem 0;
	.coupon-sale-text {
		font-family: var(--font-family);
		margin-top: 1px;
		margin-bottom: 4px;

		b {
			padding: 4px 9px 4px 8px;
			letter-spacing: -.01em;
		}
	}

	h3 {
		font-size: 3em;
		margin-bottom: 1.6rem;
	}

	h4 {
		font-size: 1.125em;
		line-height: 1.7;
	}

	h5 {
		font-size: 1em;
	}

	.btn {
		font-size: 1.2rem;
		padding: 1em 1.6em;
	}
}

@include mq(lg) {
	.category-banner {
		h3, .btn {
			margin-left: 1.8rem;
		}
	}
}

@include mq(md, max) {
	.category-content {
		padding: 1rem;
	}

	.feature-boxes-container .feature-box p, .blog-section p, 	
	footer, 	
	.info-box p,	
	.h6, h6 {
		font-size: 12px;
	}
}

@include mq(sm, max) {
	.home-slide1 {
		font-size: 3vw;

		.banner-layer {
			right: 15%;
		}
	}

	.home-slide2 {
		font-size: 3vw;
		
		.banner-layer {
			left: 35%;
		}
	}
}