// About

.page-header.page-header-bg {
	padding: 8.5rem 0 8.7rem;

	h1 {
		color: #1e3636;
		font-family: var(--font-family);
		font-size: 3.6rem;
		font-weight: 900;
		margin-bottom: 2.4rem;

		span {
			display: block;
			margin-bottom: 1px;
			color:#1e3636;
			font-family: var(--second-font-family);
			font-size: .5em;
			font-weight: 700;
			line-height: 1;
		}
	}

	.btn {
		padding: .8em 2.1em;
		background-color: #000;
		font-family: Oswald, sans-serif;
		font-size: 1.4rem;
		font-weight: 400;
		letter-spacing: -.01em;
	}
}

.subtitle {
	margin-bottom: 1.7rem;
	color: #21293c;
	font-size: 1.9rem;
}

.about-section {
	padding: 1rem 0 2.5rem;
	color: #7b858a;
	font-size: 1.4rem;
	line-height: 1.75;

	p {
		margin-bottom: 2rem;
	}

	.lead {
		font-family: var(--second-font-family);
		color: #21293c;
		font-size: 1.8rem;
		line-height: 1.5;
		font-weight: 400;
	}
}

.features-section {
	padding: 5.1rem 0 2rem;

	h3 {
		margin-bottom: 1.3rem;
		font-family: var(--second-font-family);
		font-size: 1.8rem;
		font-weight: 600;
		text-transform: none;
	}

	.feature-box {
		padding: 3rem 4rem;

		i {
			margin-bottom: 1.4rem;
			font-size: 5.5rem;
		}
	}

	.feature-box-content {
		padding-left: 0;
		padding-right: 0;
		line-height: 1.8;
	}
}

.testimonials-section {
	padding: 5rem 0;

	.subtitle {
		margin-bottom: 3.5rem;
	}
}

.testimonials-carousel {
	blockquote {
		margin-bottom: 0;
	}

	&.owl-theme .owl-nav.disabled + .owl-dots {
		margin-top: .5rem;
	}
}

.counters-section {
	padding: 5rem 0 2.9rem
}

.count-container {
	.count-wrapper {
		color: #0087cb;
		font-family: var(--font-family);
		font-size: 3.2rem;
		font-weight: 800;
		line-height: 3.2rem;
	}

	span:not(.count-to) {
		font-size: 1.9rem;
		line-height: 1;
	}

	.count-title {
		color: #7b858a;
		font-size: 1.4rem;
		font-weight: 600;
	}
}

.owl-carousel.images-left img {
	width: auto;
}

@include mq(lg) {
	.counters-section .col-md-4 {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}

@include mq(md) {
	.about-section {
		padding-top: 3rem;
		padding-bottom: 3.5rem;
	}
}

@include mq(sm) {
	.testimonial {
		blockquote {
			margin-left: 85px;
			padding: 1.5rem 3rem 1.5rem 2rem;
		}
	}
}